*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 5% 5%;
    font-family: 'Caveat', cursive;
}

header{
    margin-bottom: 3%;
    text-align: center;
}

header h1{
    text-transform: uppercase;
    letter-spacing: 10px;
}

ul{
    list-style: none;
}

li {
    display: inline-block;
    margin: 5% 5% 0 5%;
    font-size: 25px;
}

li > a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.container{
    display: grid;
    grid-template-areas:
      'img img paragraph1 paragraph1 paragraph1'
      'paragraph2 paragraph2 paragraph2 paragraph2 paragraph2'
      'paragraph3 paragraph3 paragraph3 paragraph3 paragraph3';
    gap: 10px;
    
    
}

.container > div {
    text-align: center;
    font-size: 25px;
    background-color: rgb(220, 228, 235);
}

.container > div > img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.container > div > img:hover {
    transform: scaleX(-1);
}

.item1{
    grid-area: img;
    text-align: center;
}

.item2{
    grid-area: paragraph1;
}

.item3{
    grid-area: paragraph2;
}

.item4{
    grid-area: paragraph3;
}

footer{
    margin-top: 3%;
    text-align: center;
}

footer > p{
    text-transform: uppercase;
    letter-spacing: 10px;
}


